.ql-font-georgia{
    font-family: Georgia;
}
.ql-font-arial{
    font-family: Arial;
}
.ql-font-helvetica{
    font-family: Helvetica;
}
.ql-font-lucida{
    font-family: "Lucida Grande";

}
.ql-font-comic-sans{
    font-family: "Comic Sans MS";
}
.ql-font-courier-new{
    font-family: "Courier New";
}
.ql-editor {
    white-space: normal !important;
}